
mixin table_list(product)
    tr
        td= product._id 
        td= product.name
        td
            a(href='/admin/' + product.type + '/update_' + product.type + '/' + product._id) Update
        td
            a(href='/admin/' + product.type + '/delete_' + product.type + '/' + product._id) Delete  

