
extends template.pug 
    
block content 
    form(action="/add_new_cpu", method="post")
        h3 Add new CPU 
        .field.form-element
            label.label(for="name") Name
            input#input_name(type="text", name="name")
        .field.form-element
            label.label(for="manufacturer") manufacturer
            select#input_manufacturer(name="manufacturer") 
                each val, key in manufacturer
                    option(value= val)= val
            input#input_manufacturer(type="text", name="manufacturer") 
        .field.form-element
            label.label(for="socket") Socket
            select#input_socket(name="socket")
                each val, key in socket
                    option(value=val)= val
        .field.form-element
            label.label(for="cores") Cores
            input#input_cores(type="number", name="cores") 
        .field.form-element
            label.label(for="threads") Threads
            input#input_threads(type="number", name="threads")
        .field.form-element
            label.label(for="base_frequency") Base Frequency
            input#input_base_frequency(type="text", name="base_frequency") 
        .field.form-element
            label.label(for="max_frequency") Max Frequency
            input#input_max_frequency(type="text", name="max_frequency") 
        .field.form-element
            label.label(for="cache") Cache
            input#input_cache(type="text", name="cache") 
        .field.form-element
            label.label(for="architecture") Architecture
            input#input_architecture(type="text", name="architecture") 
        .field.form-element
            label.label(for="tegrated_gpu") Integrated GPU
            input#input_tegrated_gpu(type="checkbox", name="tegrated_gpu")
        .field.form-element
            label.label(for="ram_technology") RAM Technology
            select#input_ram_technology(name="ram_technology")
                option(value="ddr4") DDR4
                option(value="ddr5") DDR5    
        .field.form-element
            label.label(for="tdp") TDP
            input#input_tdp(type="text", name="tdp") 
        .field.form-element
            label.label(for="year_of_release") Year Of Release
            input#input_year_of_release(type="date", name="year_of_release")
        .field.form-element
            input(type="submit", value="Submit")  
