
extends template.pug 


block content 
    form(action="/add_product", method="post").form
        h3.form-header Add product by Link only
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link 

    form(action="", method="post").form
        h3.form-header Add product
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link
        .form-element
            input(type="text", name="input_product_link")
            label(for="input_product_link") Product Link

