extends template.pug

block content

    .columns
        .column
            a(href="/admin/computers/") View Custom Computers
        .column
            a(href="/admin/cpu/") View Cpu's
        .column
            a(href="/admin/pccase/") View Computer Cases
        .column
            a(href="/admin/gpu/") View Graphics Card
        .column
            a(href="/admin/motherboard/") View MotherBoards
        .column
            a(href="/admin/psu/") View PSU's
        .column
            a(href="/admin/ram/") View RAM Sticks
