
mixin table_list(...products)
    table
        thead
            tr
                th Id
                th Name
        tbody
            each (product, index) in products
                tr
                    td= product._id 
                    td= product.name 
                    td
                        a(href="/admin/" + product.type + "/update_" + product.type + "/" + product._id) Update
                    td
                        a(href="/admin/" + product.type + "/delete_" + product.type + "/" + product._id) Delete  