doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My PC Builder
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
        block scripts
    body 
        h1 Hello from template

        block content

        #footer 
            h5 hello from footer