
extends ../template.pug 

block content
    .head
        h2 Processor's List from database
        a(href="/admin/motherboard/add_new_motherboard") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each motherboard in all_motherboards
                +table_list(motherboard)