
extends ../template.pug 

block content 

    form(action= "/admin/cpu/delete_cpu/" + cpu_info._id + '?_method=DELETE', method="POST")
        .columns
            .column.field.form-element
                label.label= cpu_info.name
        .columns 
            .column.field.form-element
                input(type="submit", value="Submit")