
extends ../template.pug 

block content
    .display_header
        h2 Processor's List from database
        a(href="/admin/cpu/add_cpu") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each cpu in all_cpus
                +table_list(cpu)