
extends ../template.pug 

block content
    
    .columns
        .column 
            a(href="/admin/cpu/add_cpu") Add new CPU
    .columns
        table.column 
            thead
                tr
                    th 
                    th 
                    th 
                    th 
                    th 
            tbody
                each cpu in all_cpus
                    tr
                        td= cpu._id
                        td= cpu.name
                        td  a(href="/admin/cpu/update_cpu/" + cpu._id ) Update Cpu 
                            a(href="/admin/cpu/delete_cpu/" + cpu._id ) Delete Cpu  
