
extends ../template.pug 

block content
    form(action="/admin/ram/add_new_ram", method="post")
        h3 Add new RAM
        .row
            .column.field.form-element
                label.label(for="name") Name
                input#input_name(type="text", name="name")
        .row 
            .field.form-element
                input(type="submit", value="Submit")