
extends ../template.pug 

block content 

    form(action= "/admin/ram/delete_ram/" + ram_info._id + '?_method=DELETE', method="POST")
        .columns
            .column.field.form-element
                label.label= ram_info.name
        .columns 
            .column.field.form-element
                input(type="submit", value="Submit")