
extends ../template.pug 

block content
    .display_header
        h2 Processor's List from database
        a(href="/admin/ram/add_ram") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each ram in all_rams
                +table_list(ram)