html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: #dddddd;
}

section {
    padding: 30px 15px;
}

.xl-y-pad {
    padding-top: 50px;
    padding-bottom: 50px;
}
.xl-x-pad {
    padding-left: 50px;
    padding-right: 50px;
}

form label {
    display: block;
}

label, p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

select, input[type="text"], input[type="number"], input[type="password"] {
    width: 100%;
    min-height: 25px;
    padding: 4px 8px;
}