
extends ../template.pug 

block content

    .display_header
        h2 Computer's Set List from database
        a(href="/admin/computer_set/add_computer_set") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each computer_set in all_computer_sets
                +table_list(computer_set)