
extends ../template.pug 

block content
    form(action="/admin/cooler/add_new_cooler", method="post")
        h3 Add new Cpu Cooler
        .row
            .column.field.form-element
                label.label(for="name") Name
                input#input_name(type="text", name="name")
        .row 
            .field.form-element
                input(type="submit", value="Submit")