
extends ../template.pug 

block content
    .head
        h2 Processor's List from database
        a(href="/admin/cooler/add_new_cooler") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each cooler in all_coolers
                +table_list(cooler)