
extends ../template.pug 

block content
    form(action="/admin/gpu/add_new_gpu", method="post")
        h3 Add new Graphics Card
        .row
            .column.field.form-element
                label.label(for="name") Name
                input#input_name(type="text", name="name")
        .row 
            .field.form-element
                input(type="submit", value="Submit")