
extends ../template.pug 

block content
    .head
        h2 Processor's List from database
        a(href="/admin/cpu/add_gpu") Add New
    table.styled-table
        thead
            tr
                th Id
                th Name
                th
                th
        tbody
            each gpu in all_gpus
                +table_list(gpu)