
extends ../template.pug 

block content 

    form(action= "/admin/pccase/delete_pccase/" + pccase_info._id + '?_method=DELETE', method="POST")
        .row
            .column.field.form-element
                label.label= pccase_info.name
        .row 
            .column.field.form-element
                input(type="submit", value="Submit")